*,
*::before,
*::after {
    box-sizing: border-box;
}
html{
    width:100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.bg-container {
    z-index: -1;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    min-height: 100dvh;
    background-image: url(../images/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:100dvh;
    overflow-y: scroll;
-webkit-overflow-scrolling: touch;
}

header {
    top: 10px;
    position: fixed;
    width: 100%;
    z-index: 99;
    text-align: center;
    height: 100px;
}

.logo {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    align-items: center;
    margin-left: 1.5em;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 15px;

}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 1.9em;
}


nav li {
    margin-bottom: 1.9em;
    margin-left: 1em;
    text-align: center;
    font-size: 1.9em;
}

nav .first-li {
    margin-top: 2.7em;
}

nav .a1::before {
    content: '00 ';
    word-spacing: 7px;
    font-weight: 700;
}

nav .a2::before {
    content: '01 ';
    word-spacing: 7px;
    font-weight: 700;
}

nav .a3::before {
    content: '02 ';
    word-spacing: 7px;
    font-weight: 700;
}

nav .a4::before {
    content: '03 ';
    word-spacing: 7px;
    font-weight: 700;
}


nav a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    opacity: 0;
    transition: 150ms opacity ease-in-out;

}

nav a:hover {
    color: white;
}

.nav-toggle {
    display: none;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms, 150ms color;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    height: 100%;
    margin-right: 1.5em;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background-color: white;
    height: 4px;
    width: 2.5em;
    border-radius: 2px;
    position: relative;
    transition: 380ms;
    transition-property: top, bottom, transform, background-color;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    top: 15px;
}

.nav-toggle-label span::after {
    bottom: 15px;
}

.nav-toggle:checked~.nav-toggle-label span {
    background-color: rgba(0, 0, 0, 0);
}

.nav-toggle:checked~.nav-toggle-label span::before {
    top: 0;
    transform: rotate(45deg);
}

.nav-toggle:checked~.nav-toggle-label span::after {
    bottom: 0;
    transform: rotate(-45deg);
}



.container {
    text-align: center;
    color: white;
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 20px;
}

.container-first-p {
    font-weight: 200;
    font-size: 1.4em;
    word-spacing: 5px;
}

.container-h1 {
    font-weight: 300;
    letter-spacing: 15px;
    /* Margin-right: -15px; to get rid of inconsistent of last letter letter spacing */
    margin-right: -15px;
    font-size: 5em;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto Slab';
}

.container-second-p {
    letter-spacing: 1.2px;
    font-size: 1.3em;
    line-height: 1.6em;
    font-weight: 300;
}

.second-container {
    height: 300px;
    width: 300px;
    border-radius: 300px;
    background-color: white;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
}

.explore-btn {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    font-size: 2.7em;
    letter-spacing: 5px;
    font-family: 'Roboto Slab';
    height: 100%;
    width: 100%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Destination Page*/
.bg-container-destination {
    z-index: -1;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height:100dvh;
    min-height: 100dvh;
    background-image: url(../images/background-destination-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.destination-h1 {
    font-weight: 300;
    color: white;
    text-align: center;
    margin-top: 110px;
    letter-spacing: 3px;
}

.wrapper-div {
    position: relative;


}

.wrapper-div2 {}

.absoluteFlexContainer {

    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateX(27px);
    content-visibility: hidden;
    opacity: 0;
    transition: 800ms ease-in-out;
    transition-property: transform, opacity;
}

.active-planet {
    transform: translateX(0px);
    content-visibility: visible;
    opacity: 1;
}

.img-div {
    width: 100%;
}

.planets {
    width: 63%;
    max-width: 500px;
}

.content-div p {
    color: rgba(255, 255, 255, 0.644);
    word-spacing: 2px;
    font-weight: 100;
    letter-spacing: 0.4px;
}

.content-div h1 {
    color: white;
    font-family: 'Roboto Slab';
    font-weight: 300;
    font-size: 3.4em;
    letter-spacing: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: -3px;
}

.line-div {
    display: block;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.199);
}

.avg-distance-p {
    font-weight: 300 !important;
    color: rgba(255, 255, 255, 0.822) !important;
    font-size: 1.3em;
    margin-bottom: 0 !important;
    margin-top: 15px;
}

.avg-distance-h1 {
    margin-top: 0 !important;
    font-size: 1.6em !important;
    font-family: 'Roboto Slab';
}

.day-p {
    font-weight: 300 !important;
    color: rgba(255, 255, 255, 0.822) !important;
    font-size: 1.3em;
    margin-bottom: 0 !important;
    margin-top: 17px;
}

.day-h1 {
    margin-top: 0 !important;
    font-size: 1.6em !important;
    font-family: 'Roboto Slab';
}

.planet-button-container {
    margin-top: 25px;
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen and (max-width:480px) {
    .planet-button-container {
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }
}


.planet-btn {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.582);
    font-size: 2em;
    font-size: 300;
    position: relative;
}

.planet-btn::before {
    display: block;
    position: absolute;
    content: '';
    height: 2px;
    border-radius: 3px;
    background-color: white;
    left: 0;
    right: 0;
    top: 100%;
    transform: scale(0, 1);
    transition: transform ease-in-out 400ms;
}

.active-p-btn::before {
    transform-origin: left;
    transform: scale(1, 1);

}

.flex-item {
    content-visibility: hidden;
}





@media screen and (min-width:830px) {
    body {
        height: auto;
    }

    .nav-toggle-label {
        display: none;
    }

    .bg-container {
        z-index: -1;
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        background-image: url(../images/desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    header {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 50% 50%;
        height: 80px;
    }

    header::before {
        content: '';
        position: absolute;
        height: 1px;
        width: 42%;
        background-color: rgba(255, 255, 255, 0.199);
        top: 50%;
        left: 10%;
        z-index: 100;
    }

    nav {
        all: unset;
        grid-column: 2/2;
        background-color: rgba(255, 255, 255, 0.021);

    }

    nav a {
        opacity: 1;
    }

    nav ul {
        margin-top: 0;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
    }

    nav li {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        font-size: 0.9em;
        padding: 0 !important;
        position: relative;
    }

    /* nav li::before {
        margin-top: 28px;
        display: block;
        position: absolute;
        content: '';
        height: 3px;
        border-radius: 3px;
        background-color: white;
        left: 0;
        right: 0;
        top: 100%;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav li:hover::before {
        transform: scale(1, 1);
    } */

    .container {
        margin-top: 200px;
        text-align: left;
        display: flex;
        justify-content: space-around;
        gap: 20%;
    }

    .container-h1 {
        margin-top: 0;
        font-size: 7em;
        margin-left: -5px;
    }

    .container-first-p {
        margin-bottom: 0;
    }

    .container-second-p {
        margin-bottom: 0;
        font-size: 1em;
    }

    .wrapper {
        max-width: 450px;
    }

    .second-container {
        all: unset;
        background-color: white;
        height: 200px;
        width: 200px;
        min-width: 200px;
        border-radius: 200px;
        position: relative;
        align-self: flex-end;
        transition: background-color ease-in-out 250ms;
    }

    .second-container:hover {
        background-color: black;
    }

    .explore-btn {
        all: unset;
        color: black;
        position: absolute;
        display: flex;
        height: 100%;
        width: 100%;
        border-radius: 100%;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        letter-spacing: 5px;
        font-family: 'Roboto Slab';
        transition: color ease-in-out 250ms;
    }

    .explore-btn:hover {
        color: white;
    }

    .activebtn::before {
        margin-top: 28px;
        display: block;
        position: absolute;
        content: '';
        height: 3px;
        border-radius: 3px;
        background-color: white;
        left: 0;
        right: 0;
        top: 100%;
    }
}

@media screen and (max-width:913px) {
    .activebtn::before {
        margin-top: 19px;
    }
}
